body {
  background-color: var(--Very-Light-Gray);
}

.app {
  position: relative;
} 


.country-container {
  width: 100%;
  min-height: calc(100vh - 72px - 104px - 1rem);
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  padding : 0rem 2rem ;
  margin-top: 1rem;
  position: relative;
}

@media only screen and (max-width: 400px) {
  .country-container {
    justify-content: center;
  }
}